*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.gitignore
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/other.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/runtime/build/intermediates/ktLint/reporterProviders.bin
/ui-components/build/intermediates/ktLint/reporterProviders.bin
/ui-core/build/intermediates/ktLint/reporterProviders.bin
/runtime/build/intermediates/ktLint/reporters.bin
/ui-components/build/intermediates/ktLint/reporters.bin
/ui-core/build/intermediates/ktLint/reporters.bin
/.idea/AndroidProjectSystem.xml
/.idea/runConfigurations.xml
/.idea/markdown.xml
